.bt-wrapper {
  position: relative;
  width: 200px;
  height: 200px;
  border: 1px solid #000000;
  margin: 10px;
  float: left;
}

.bt-wrapper:last-child {
   float: none;
}

.page1 {
  background-color: #FF0000;
}

.page2 {
  background-color: #00FF00;
}

.page3 {
  background-color: #0000FF;
}
