.title {
  text-align: center;
  background-color: #C0C0C0;
  border-radius: 10px;
}

h2 {
  text-align: center;
}

.description {
  text-align: center;
  background-color: #C0C0D0;
  border-radius: 10px;
  margin: 10px 0px;
}

.types {
  background-color: #F0F0F0;
  border-radius: 10px;
  margin: 10px 0px;
}

.transitions {
  background-color: #C0D0C0;
  border-radius: 10px;
  margin: 10px 0px;
}

.transTitle {

}

.utilisation {
  background-color: #E0E0E0;
  border-radius: 10px;
  margin: 10px 0px;
  padding: 10px;
}

.exemples td{
  width: 50%;
}

.code {
  border: 1px solid #E0E0E0;
  background-color: #F0F0F0;
  border-radius: 5px;
}

.code ul {
  list-style-type: none;
}

.code.html mark {
  background: none;
}

.code.html mark.tag {
  color: #F80000;
}

.code.html mark.attr {
  color: #00C000;
}

.code.html mark.attr-val {
  color: #0000F8;
}
