.bt-wrapper{
  position:absolute;
  top: 100px;
  left: 100px;
  width: 500px;
  height: 500px;
  border: 1px solid #000000;
}

.page1{
  background-color: #FF0000;
}

.page2{
  background-color: #00FF00;
}

.page3{
  background-color: #0000FF;
}

.bt-page>.bt-wrapper{
  height: 250px;
}

.bt-page>.bt-wrapper>.bt-page{
  background-color: #00FF00;
}
